{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <div class="row mb-3">
        <div class="col">
            <form method="get" class="form-inline">
                <div class="input-group">
                    <select name="category" class="form-select">
                        <option value="">All Categories</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if selected_category and selected_category.id == category.id %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-secondary">Filter</button>
                    {% if selected_category %}
                        <a href="{{ path('app_book_index') }}" class="btn btn-light">Clear</a>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col text-end">
            <a href="{{ path('app_book_new') }}" class="btn btn-secondary">Create new</a>
        </div>
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>PublishedAt</th>
                <th>Description</th>
                <th>Isbn</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in pagination %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publishedAt ? book.publishedAt|date('Y-m-d') : '' }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.category ? book.category.name : '' }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation float-end">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
